{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <table class="table border border-success table-success">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
                </thead>

                <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category.catagory }}</td>
                </tr>
                {% endfor %}
                </tbody>

        </table>
    </div>
{% endblock %}